
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <title>qualite-sosyalmedya</title>
    <link rel="stylesheet" href="/css/sosyal-medya.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
<section class="social-media-page">
    <div class="container">

        <div class="social-links">
            <h2>Bizi Sosyal Medyada Takip Edin</h2>
            <div class="icons-wrapper">

                <a href="INSTAGRAM_LINKINIZ" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="FACEBOOK_LINKINIZ" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="TWITTER_LINKINIZ" target="_blank" aria-label="Twitter/X">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="YOUTUBE_LINKINIZ" target="_blank" aria-label="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>

            </div>
        </div>

        <hr class="separator">

        <div class="photo-gallery">
            <h3 style=" text-align: center;">En Son Paylaşımlarımız</h3>

            <div class="grid-layout">
                <a href="~/images/s2.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s2.jpg" alt="Sosyal Medya Fotoğrafı 1">
                </a>
                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s1.jpg" alt="Sosyal Medya Fotoğrafı 2">
                </a>

                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s3.jpg" alt="Sosyal Medya Fotoğrafı 3">
                </a>

                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s4.jpg" alt="Sosyal Medya Fotoğrafı 4">
                </a>

                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s5.jpg" alt="Sosyal Medya Fotoğrafı 5">
                </a>
                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s6.jpg" alt="Sosyal Medya Fotoğrafı 5">
                </a>
                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s7.jpg" alt="Sosyal Medya Fotoğrafı 5">
                </a>
           @*      <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s3.jpg" alt="Sosyal Medya Fotoğrafı 5">
                </a>
                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s1.jpg" alt="Sosyal Medya Fotoğrafı 5">
                </a>
                <a href="~/images/s1.jpg" target="_blank" class="gallery-item">
                    <img src="~/images/s2.jpg" alt="Sosyal Medya Fotoğrafı 5">
                </a> *@
            </div>
        </div>

    </div>
</section>