<h2>Giriş Yap</h2>
<form asp-action="Login" method="post">
    <div>
        <label>Email veya Telefon:</label>
        <input type="text" name="emailOrPhone" />
    </div>
    <div>
        <label>Şifre:</label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Giriş Yap</button>
</form>
