@{

    ViewBag.Title = "Ana Sayfa";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>

    <style>

        /* Bu stil, tüm marka resimlerinin yüksekliğini sabitler. */

        .brand-image {
            height: 150px; /* İstediğiniz yüksekliği buradan ayarlayın (örneğin 200px) */

            width: 100%;
            object-fit: cover; /* Resmi, oranı bozulmadan ayarlanmış alana sığdırır */
        }



        .modern-h1-thin {
            font-family: 'Book Antiqua''Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif font-size: 3.5rem; /* Daha büyük */

            font-weight: 300; /* Daha ince */

            letter-spacing: 0.1em; /* Harf aralığı */

            color: #333; /* Hafif koyu gri */

            text-transform: uppercase; /* Tüm harfleri büyük yapabilir */
        }

    </style>

</head>



<div class="container py-5">

    <h1 class="text-center mb-4 modern-h1-thin">Markalarımız</h1>



    <div class="row text-center">



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.atlashali.com.tr" target="_blank">

                    <img src="~/images/ornek.jpg" class="card-img-top img-fluid brand-image" alt="Resim 1" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Atlas Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.pierrecardinhalidekorasyon.com" target="_blank">

                    <img src="~/images/ornek2.jpg" class="card-img-top img-fluid brand-image" alt="Resim 2" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Pierre Cardin</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.padisahhali.com" target="_blank">

                    <img src="~/images/ornek3.jpg" class="card-img-top img-fluid brand-image" alt="Resim 3" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Padişah Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.royalhali.com" target="_blank">

                    <img src="~/images/royal.png" class="card-img-top img-fluid brand-image" alt="Resim 4" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Royal Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.dinarsu.com.tr" target="_blank">

                    <img src="~/images/dinarsu.png" class="card-img-top img-fluid brand-image" alt="Resim 1" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Dinarsu Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>



        <div class="col-6 col-sm-6 col-md-3 mb-4">

            <div class="card border-0 shadow-sm h-100">

                <a href="https://www.angorayorgan.com" target="_blank">

                    <img src="~/images/angora.png" class="card-img-top img-fluid brand-image" alt="Resim 5" />

                </a>

                <div class="card-body">

                    <h5 class="card-title">Angora Halı</h5>

                </div>

            </div>

        </div>

    </div>

</div>





